*{
	margin:0;
	padding:0;
}

form{
    color:black;
    font-size: 14px;
    border-radius: 5px;
    padding: 5px 5px;
    font-weight:bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(221, 228, 236, 0.363);
}
.input
{
    width: 100%;
    padding:4px 0;
    margin:4px 0;
    border-left:0;
    border-top:0;
    border-right:0;
    border-bottom: 1.5px solid black;
    outline:none;
    background: transparent;
}
.set1{
   	height:250px;
  	width:510px;
   	margin-left: 400px;
   	padding-top: 50px;
}
body{
      background-image: url("image/restaurantbackground.jpg");
      background-size: 1400px 780px;
    }
    ul{
        background-color: rgba(180, 228, 230, 0.5);
        font-weight: 700;
        }
        li{
            list-style:none;
            padding: 25.7px 18px;
        }
        li a{
            text-decoration: none;
            color:black;
        }
   	 	td, th{
        	padding: 10px;
        }
        aside{
        	float:left;
        	margin-right: 70px;
        }
        h2{
        	color: white;
        }
        .button{
        	padding:7px 225px;
        	border : 1px solid #2f4f4f;
        	background-color:#2f4f4f;
        	border-radius:4px;
        	color: white;
        	cursor: pointer;
        }
        button:hover {
 			 opacity: 0.8;
		}
  
