*{
			margin:0;
			padding:0;
		}
       ul{
        background-color: rgba(180, 228, 230, 0.5);
        font-weight: 700;
        }
        li{
            list-style:none;
 			padding: 28px 18px;
        }
        li a{
            text-decoration: none;
            color:black;
        }
        aside{
        	float:left;
        	margin-right: 70px;
        }
body{
      background-image: url("image/restaurantbackground.jpg");
      background-size: 1400px 780px;
    }
.input
{
    width: 100%;
    padding:3px 0;
    margin:3px 0;
    border-left:0;
    border-top:0;
    border-right:0;
    border-bottom: 1.5px solid black;
    outline:none;
    background: transparent;
}
form{
    color:black;
    font-size: 14px;
    border-radius: 5px;
    padding: 30px 20px;
    font-weight:bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(180, 228, 230, 0.5);
} 
td, th{
   	padding: 10px;
}
.set1{
        	height:250px;
        	width:510px;
        	margin-left: 400px;
       }
       .button{
        	padding:7px 220px;
        	border : 1px solid #2f4f4f;
        	background-color:#2f4f4f;
        	border-radius:4px;
        	color: white;
        	cursor:pointer;
        }
         button:hover {
 			 opacity: 0.8;
		}

